{{ partial "header.html" . }}

<div class="container">
<section id="content">
 <section id="about">
    <p>I’m Luis Vázquez, a software developer.</p>
 {{ block "main" . }}
 {{ end }}
</section>

<ul class="posts_listing">
  <h2>Latest</h2>
  {{ range where .Site.Pages "Params.type" "post" }}
    <li>
      <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
      <div id="date">
        <time>{{ .PublishDate.Format "Jan 2006" }}</time>
      </div>
    </li>
  {{ end }}
</ul>
</section>
{{ partial "footer.html" . }}
